<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bakery Mirana</title>
        <link rel="stylesheet" href="/css/tailwind-output.css">
    </head>
    <body>
        <div th:replace="layout/navbar :: navbar"></div>
        <div class="relative" th:replace="layout/sidebar :: sidebar"></div>

        <div class="p-4 pt-20 sm:ml-64">
            <h1>Hello</h1>
        </div>

        <script src="/js/flowbite.min.js"></script>
    </body>
</html>
